<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onLogin(f)" #f="ngForm">
      <div class="row">
        <div class="col-xs-12 form-group">
          <label for="username">Username:</label>
          <input
            type="text"
            id="username"
            class="form-control"
            name="username"
            ngModel
            required
            (focus)="usernameTaken = false">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="text-danger" *ngIf="usernameTaken">Username unavailable...</p>
        </div>
      </div>
      <div *ngIf="state === 'loading'">
        <div class="row">
          <div style="margin-bottom: 15px;" class="col-xs-12">
            <div style="margin-right: 10px;" class="pull-left loader-small"></div>
            <h6 class="pull-left"> Signing in...</h6>
          </div>
        </div>
      </div>
      <div *ngIf="state === 'failure'">
        <div class="row">
          <div style="margin-bottom: 15px" class="col-xs-12">
            <h5 class="text-danger">Signing in failed...</h5>
            <h6>Please try again later.</h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!f.valid">Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
