<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onLogin(f)" #f="ngForm">
      <div class="row">
        <div class="col-xs-12 form-group">
          <label for="username"></label>
          <input
            type="text"
            id="username"
            class="form-control"
            name="username"
            ngModel
            required>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!f.valid">Login
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p *ngIf="loginFailed">Login failed...</p>
        </div>
      </div>
    </form>
  </div>
</div>
